#window{
	text-align: center; 
}

#frame{
	display: inline-block;
}

#websocket{
	border-bottom: 2px solid black; 
}

#product{
}

#productTitle{
	text-align: center; 
	font-size: xx-large;
	font-style: bold;
}

#productDetailsImage{
	float: left;
	display: inline-block;
	margin-right: 50px;
}

#productDetailsNutrition{
	float: right;
	text-align: left; 
}

#space{
	border-bottom: 2px solid black; 
}